<mtapp:setting
    id="entry_snippet"
    label="<__trans phrase="Entry Snippet">">
<ul>
<li><textarea rows="10" class="text low" name="entry_snippet" id="entry_snippet" /><mt:var name="entry_snippet" escape="html"></textarea></li>
</ul>
</mtapp:setting>
<mtapp:setting
    id="page_snippet"
    label="<__trans phrase="Page Snippet">">
<ul>
<li><textarea rows="10" class="text low" name="page_snippet" id="page_snippet" /><mt:var name="page_snippet" escape="html"></textarea></li>
</ul>
</mtapp:setting>